h1 {
    position: fixed;
    top: 0; 
    width: 100%;
    text-align: center;
    color: #1a6060;
    background-color: #ffffff; 
    z-index: 999;
    padding: 10px 0;
    margin: 0;
}

.menu-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #216767;
    position: fixed;
    top: 50px; 
    width: 100%;
    z-index: 1000;
}

.menu-container li {
    float: left;
}

.menu-container li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    padding-left: 45px;
    padding-right: 45px;
    text-decoration: none;
}

.menu-container li a:hover {
    background-color: #0a3737;
}


.content {
    margin-top: 80px; 
}


h3 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 20px;
}

ol {
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 40px;
}

ol li {
    margin-bottom: 10px;
}

table, th, td {
    border: 1px solid black;
    padding: 15px;
    text-align: center;
}

tr:nth-child(odd) {
    background-color: #D6EEEE;
}


table, th, td {
    border: 2px solid #0a3737;
    text-align: center;
}
